{{- $image := false }}
{{- with .Resource -}}
{{- $image = . -}}
{{- else -}}
{{- $image = partial "FindResource.html" (dict "Src" .Image "Page" .Page) }}
{{- end -}}
{{- with .Processing -}}
{{- $image = partial "image_processing/ProcessImage.html" (dict "Image" $image "Commands" . "Page" $.Page) -}}
{{- end -}}
{{- $formatted_attrs := slice -}}
{{- range $attr, $value := .RootAttrs -}}
{{- $formatted_attrs = append $formatted_attrs (slice (printf "%s=%q" $attr ($value | safeHTMLAttr))) -}}
{{- end -}}
<picture{{ if gt (len $formatted_attrs) 0 }} {{ (delimit $formatted_attrs " ") | safeHTMLAttr }}{{ end }}>
    {{- with .Inner -}}
    {{- $.Scratch.Set "Image" $image -}}
    {{ . }}
    {{- else -}}
    {{- with .SourceSets }}
    {{- range . -}}
    {{ partial "picture_source.html" (merge . (dict "Image" $image)) }}
    {{- end -}}
    {{- else -}}
    {{- with $image.Resize (printf "%dx%d webp" $image.Width $image.Height) -}}
    <source type="{{ .MediaType }}" srcset="{{ .RelPermalink }}" />
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{ partial "image.html" (dict "Resource" $image "Page" $.Page "Attrs" $.Attrs "Loading" $.Loading "Title" $.Title) }}
</picture>
